page-tarefa-detalhe-camareira {
    .circle{
        border-radius: 50% !important;
        border: #488aff 1px solid;
    }
    .disabled{
        border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
        }
}
