page-tarefa-lista {
    .sinal{
        width:30px !important;
        height:30px !important
    }
    circle{
        width:30px !important;
        height:30px !important
    }
    
    .branco{
        color: black !important;
        font-weight: 500;
    }
    .cinza{
        color: gray !important;
        font-weight: 500;
    }
    ion-avatar{
        margin: 8px 16px 0px 0 !important
    }
}
